body {
  margin-top: 20px;
}

.menu {
  margin-bottom: 20px;
}

.card-image {
  height: 350px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
}

.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: 1080px;
  grid-template-areas: 
  "h h" 
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
  grid-area: c;
  margin-left: 50px;
}

.popup {
  max-width: 350px !important;
}